<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height, initial-scale=1.0, shrink-to-fit=no">
    <title>Elegir equipos - NBASim</title>
    <meta name="description" content="Plataforma que permite simular partidos NBA para observar posibles cambios en rotaciones de cara al futuro.">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/vanilla-zoom.min.css">
</head>
<style>
    /* HIDE RADIO */
    [type=radio] { 
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    }

    /* IMAGE STYLES */
    [type=radio] + img {
    cursor: pointer;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + img {
    outline: 2px solid #0d6efd;
    }
</style>
<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">NBASim</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/elegir_equipos_pasado">SIMULAR A PASADO</a></li>
                    <li class="nav-item"><a class="nav-link" href="/elegir_equipos_futuro">SIMULAR A FUTURO</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">INICIO</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <form method=post action="/resultados_futuro">
            <section class="clean-block features">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-info">Elegir equipos para simular a futuro</h2>
                        <select class="form-select-lg" name="temporada" value="temporada">
                            <optgroup label="temporada">
                                {% for i in range(2022, 2000, -1) %}
                                    <option value="{{ i }}">Temporada {{ i - 1 }}/{{ i }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h4 class="text-center" id="nombreequipo1">Selecciona un equipo</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="ATL,Atlanta Hawks" required>
                                                    <img src="static/img/equipos/ATL.png" alt="Atlanta Hawks" width="75%" onclick="cambiarTitulo1(this.alt)" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="BOS,Boston Celtics">
                                                    <img src="static/img/equipos/BOS.png" alt="Boston Celtics" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="BRK,Brooklyn Nets">
                                                    <img src="static/img/equipos/BRK.png" alt="Brooklyn Nets" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="CHO,Charlotte Hornets">
                                                    <img src="static/img/equipos/CHO.png" alt="Charlotte Hornets" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="CHI,Chicago Bulls">
                                                    <img src="static/img/equipos/CHI.png" alt="Chicago Bulls" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="CLE,Cleveland Cavaliers">
                                                    <img src="static/img/equipos/CLE.png" alt="Cleveland Cavaliers" width="75%" onclick="cambiarTitulo1(this.alt)" height="75%">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="LAC,Los Angeles Clippers">
                                                    <img src="static/img/equipos/LAC.png" alt="Los Angeles Clippers" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="DAL,Dallas Mavericks">
                                                    <img src="static/img/equipos/DAL.png" alt="Dallas Mavericks" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="DEN,Denver Nuggets">
                                                    <img src="static/img/equipos/DEN.png" alt="Denver Nuggets" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="DET,Detroit Pistons">
                                                    <img src="static/img/equipos/DET.png" alt="Detroit Pistons" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="GSW,Golden State Warriors">
                                                    <img src="static/img/equipos/GSW.png" alt="Golden State Warriors" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="HOU,Houston Rockets">
                                                    <img src="static/img/equipos/HOU.png" alt="Houston Rockets" width="75%" onclick="cambiarTitulo1(this.alt)" height="75%">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="IND,Indiana Pacers">
                                                    <img src="static/img/equipos/IND.png" alt="Indiana Pacers" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="LAL,Los Angeles Lakers">
                                                    <img src="static/img/equipos/LAL.png" alt="Los Angeles Lakers" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="MEM,Memphis Grizzlies">
                                                    <img src="static/img/equipos/MEM.png" alt="Memphis Grizzlies" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="MIA,Miami Heat">
                                                    <img src="static/img/equipos/MIA.png" alt="Miami Heat" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="MIL,Milwaukee Bucks">
                                                    <img src="static/img/equipos/MIL.png" alt="Milwaukee Bucks" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="MIN,Minnesota Timberwolves">
                                                    <img src="static/img/equipos/MIN.png" alt="Minnesota Timberwolves" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="NYK,New York Knicks">
                                                    <img src="static/img/equipos/NYK.png" alt="New York Knicks" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="NOP,New Orleans Pelicans">
                                                    <img src="static/img/equipos/NOP.png" alt="New Orleans Pelicans" width="75%" onclick="cambiarTitulo1(this.alt)" height="75%">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="OKC,Oklahoma City Thunder">
                                                    <img src="static/img/equipos/OKC.png" alt="Oklahoma City Thunder" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="ORL,Orlando Magic">
                                                    <img src="static/img/equipos/ORL.png" alt="Orlando Magic" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="PHI,Philadelphia 76ers">
                                                    <img src="static/img/equipos/PHI.png" alt="Philadelphia 76ers" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="PHO,Phoenix Suns">
                                                    <img src="static/img/equipos/PHO.png" alt="Phoenix Suns" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="POR,Portland Trail Blazers">
                                                    <img src="static/img/equipos/POR.png" alt="Portland Trail Blazers" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="SAC,Sacramento Kings">
                                                    <img src="static/img/equipos/SAC.png" alt="Sacramento Kings" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="SAS,San Antonio Spurs">
                                                    <img src="static/img/equipos/SAS.png" alt="San Antonio Spurs" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="TOR,Toronto Raptors">
                                                    <img src="static/img/equipos/TOR.png" alt="Toronto Raptors" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="UTA,Utah Jazz">
                                                    <img src="static/img/equipos/UTA.png" alt="Utah Jazz" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo1" value="WAS,Washington Wizzards">
                                                    <img src="static/img/equipos/WAS.png" alt="Washington Wizzards" width="75%" onclick="cambiarTitulo1(this.alt)">
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm">
                            <h1 class="text-center"><strong>VS</strong></h1>
                        </div>
                        <div class="col-sm">
                            <h4 class="text-center" id="nombreequipo2">Selecciona un equipo</h4>
                            <div class="table-responsive float-end">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="ATL,Atlanta Hawks" required>
                                                    <img src="static/img/equipos/ATL.png" alt="Atlanta Hawks" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="BOS,Boston Celtics">
                                                    <img src="static/img/equipos/BOS.png" alt="Boston Celtics" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="BRK,Brooklyn Nets">
                                                    <img src="static/img/equipos/BRK.png" alt="Brooklyn Nets" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="CHO,Charlotte Hornets">
                                                    <img src="static/img/equipos/CHO.png" alt="Charlotte Hornets" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="CHI,Chicago Bulls">
                                                    <img src="static/img/equipos/CHI.png" alt="Chicago Bulls" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="CLE,Cleveland Cavaliers">
                                                    <img src="static/img/equipos/CLE.png" alt="Cleveland Cavaliers" width="75%" onclick="cambiarTitulo2(this.alt)" height="75%">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="LAC,Los Angeles Clippers">
                                                    <img src="static/img/equipos/LAC.png" alt="Los Angeles Clippers" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="DAL,Dallas Mavericks">
                                                    <img src="static/img/equipos/DAL.png" alt="Dallas Mavericks" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="DEN,Denver Nuggets">
                                                    <img src="static/img/equipos/DEN.png" alt="Denver Nuggets" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="DET,Detroit Pistons">
                                                    <img src="static/img/equipos/DET.png" alt="Detroit Pistons" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="GSW,Golden State Warriors">
                                                    <img src="static/img/equipos/GSW.png" alt="Golden State Warriors" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="HOU,Houston Rockets">
                                                    <img src="static/img/equipos/HOU.png" alt="Houston Rockets" width="75%" onclick="cambiarTitulo2(this.alt)" height="75%">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="IND,Indiana Pacers">
                                                    <img src="static/img/equipos/IND.png" alt="Indiana Pacers" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="LAL,Los Angeles Lakers">
                                                    <img src="static/img/equipos/LAL.png" alt="Los Angeles Lakers" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="MEM,Memphis Grizzlies">
                                                    <img src="static/img/equipos/MEM.png" alt="Memphis Grizzlies" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="MIA,Miami Heat">
                                                    <img src="static/img/equipos/MIA.png" alt="Miami Heat" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="MIL,Milwaukee Bucks">
                                                    <img src="static/img/equipos/MIL.png" alt="Milwaukee Bucks" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="MIN,Minnesota Timberwolves">
                                                    <img src="static/img/equipos/MIN.png" alt="Minnesota Timberwolves" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="NYK,New York Knicks">
                                                    <img src="static/img/equipos/NYK.png" alt="New York Knicks" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="NOP,New Orleans Pelicans">
                                                    <img src="static/img/equipos/NOP.png" alt="New Orleans Pelicans" width="75%" onclick="cambiarTitulo2(this.alt)" height="75%">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="OKC,Oklahoma City Thunder">
                                                    <img src="static/img/equipos/OKC.png" alt="Oklahoma City Thunder" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="ORL,Orlando Magic">
                                                    <img src="static/img/equipos/ORL.png" alt="Orlando Magic" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="PHI,Philadelphia 76ers">
                                                    <img src="static/img/equipos/PHI.png" alt="Philadelphia 76ers" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="PHO,Phoenix Suns">
                                                    <img src="static/img/equipos/PHO.png" alt="Phoenix Suns" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="POR,Portland Trail Blazers">
                                                    <img src="static/img/equipos/POR.png" alt="Portland Trail Blazers" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="SAC,Sacramento Kings">
                                                    <img src="static/img/equipos/SAC.png" alt="Sacramento Kings" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="SAS,San Antonio Spurs">
                                                    <img src="static/img/equipos/SAS.png" alt="San Antonio Spurs" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="TOR,Toronto Raptors">
                                                    <img src="static/img/equipos/TOR.png" alt="Toronto Raptors" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="UTA,Utah Jazz">
                                                    <img src="static/img/equipos/UTA.png" alt="Utah Jazz" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="radio" name="equipo2" value="WAS,Washington Wizzards">
                                                    <img src="static/img/equipos/WAS.png" alt="Washington Wizzards" width="75%" onclick="cambiarTitulo2(this.alt)">
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary btn-lg" type="submit" style="display: block; margin-left: auto; margin-right:auto">SIMULAR PARTIDO</button>
                </div>
            </section>
        </form>
    </main>
    <footer class="page-footer dark"></footer>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="static/js/vanilla-zoom.js"></script>
    <script src="static/js/theme.js"></script>
    <script>
        function cambiarTitulo1(s) {
            document.getElementById("nombreequipo1").innerHTML = s;
        }
        function cambiarTitulo2(s) {
            document.getElementById("nombreequipo2").innerHTML = s;
        }
    </script>
</body>

</html>