<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Elegir partido - NBASim</title>
    <meta name="description" content="Plataforma que permite simular partidos NBA para observar posibles cambios en rotaciones de cara al futuro.">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/vanilla-zoom.min.css">
</head>
<style>

    label {
        width: 100%;
    }

    .card-input-element {
        display: none;
    }

    .card-input {
        margin: 10px;
        padding: 0px;
    }

    .card-input:hover {
        cursor: pointer;
    }

    .card-input-element:checked + .card-input {
        box-shadow: 0 0 1px 1px #0d6efd;
    }

</style>
<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/">NBASim</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/elegir_equipos_pasado">SIMULAR A PASADO</a></li>
                    <li class="nav-item"><a class="nav-link" href="/elegir_equipos_futuro">SIMULAR A FUTURO</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">INICIO</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <form method=post action="/simular_partido">
            <section class="clean-block features">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-info">Elegir partido</h2>
                    </div>
                    {% for i in range(partidos|length) %}
                        <div>
                            <label>
                                <input type="radio" name="partido" class="card-input-element" value="{{ partidos[i]['fecha'] }}" required/>
                                <div class="card card-default card-input">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2 feature-box">
                                                <img src="static/img/equipos/{{ partidos[i]['local'][0] }}.png" width="75%">
                                            </div>
                                            <div class="col text-center">
                                                <h1 class="text-center">
                                                    <strong>{{ partidos[i]['puntuacionLocal'] }} - {{ partidos[i]['puntuacionVisitante'] }}</strong>
                                                </h1>
                                                <h4 class="text-center">
                                                    {{ partidos[i]['fecha'] }}
                                                </h4>
                                            </div>
                                            <div class="col-md-2 feature-box">
                                                <img src="static/img/equipos/{{ partidos[i]['visitante'][0] }}.png" width="75%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <button class="btn btn-primary btn-lg" type="submit" style="display: block; margin-left: auto; margin-right:auto">ELEGIR PARTIDO</button>
                </div>
            </section>
            <input type="hidden" id="equipo1" name="equipo1" value="{{ equipo1[0] }},{{ equipo1[1] }}" />
            <input type="hidden" id="equipo2" name="equipo2" value="{{ equipo2[0] }},{{ equipo2[1] }}" />
            <input type="hidden" id="temporada" name="temporada" value="{{ temporada }}" />
        </form>
    </main>
    <footer class="page-footer dark"></footer>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="static/js/vanilla-zoom.js"></script>
    <script src="static/js/theme.js"></script>
</body>

</html>