<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Inicio - NBASim</title>
    <meta name="description" content="Plataforma que permite simular partidos NBA para observar posibles cambios en rotaciones de cara al futuro.">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">NBASim</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/elegir_equipos_futuro">SIMULAR</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">INICIO</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image: url(&quot;static/img/kawhi.jpg&quot;);color: rgba(0,107,183,0.68);">
            <div class="text">
                <h2>Bienvenido a NBASim</h2>
                <p>Esta plataforma te permitirá simular partidos de la mejor liga de baloncesto del mundo</p><button class="btn btn-outline-light btn-lg" type="button" onclick="window.location.href='/#porque';">Empezar</button>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container" id="porque">
                <div class="block-heading">
                    <h2 class="text-info">¿Por qué simular?</h2>
                    <p>La NBA es una liga de lo más competitiva: 30 equipos se dejan la piel cada año, jugando más de 70 partidos con un único objetivo: Ganar el anillo</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="static/img/warriors.jpeg"></div>
                    <div class="col-md-6">
                        <div>
                            <h3>Se gana tomando decisiones</h3>
                            <div class="getting-started-info">
                                <p>Ofrecemos la posibilidad de simular un partido de 0, teniendo en cuenta el desempeño de equipos y jugadores a lo largo de una temporada, para sacar conclusiones y elegir lo mejor de cara a futuros partidos.</p>
                            </div><button class="btn btn-outline-primary btn-lg" type="button" onclick="window.location.href='/elegir_equipos_futuro';">Simular</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Creadores</h2>
                    <p>Somos Miguel Ángel, Pablo y David, estudiantes de la asignatura Diseño de Modelos de Simulación, y este es nuestro proyecto de prácticas</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="static/img/avatars/miguelangel.JPG">
                            <div class="card-body info">
                                <h4 class="card-title">Miguel Ángel</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="static/img/avatars/pablo.JPG">
                            <div class="card-body info">
                                <h4 class="card-title">Pablo</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="static/img/avatars/david.JPG">
                            <div class="card-body info">
                                <h4 class="card-title">David</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark"></footer>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="static/js/vanilla-zoom.js"></script>
    <script src="static/js/theme.js"></script>
</body>

</html>